{% extends 'clips/bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% load base_extra %}

{% block bootstrap3_content %}
    <div class="container">

        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#clips-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">PiCCTV</a>
                </div>
                <div class="collapse navbar-collapse" id="clips-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% active_page request "home" %}"><a href="{% url 'home' %}">home</a></li>
                        <li class="{% active_page request "list" %}"><a href="{% url 'list' %}">list clips</a></li>
                    </ul>
                </div>

            </div>
        </nav>

        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
