{% extends 'clips/base.html' %}

{% load base_extra %}

{% block title %}Clip list{% endblock %}


{% block content %}
  <div class="well col-xs-12 col-sm-offset-1 col-sm-2 col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" {% if camera_name == '' %}class="active"{% endif %}><a href="{% url 'list' %}">All <span class="badge">{{ all_clips|length }}</span></a></li>
{% for c in cameras %}      
      <li role="presentation" {% if camera_name == c %}class="active"{% endif %}><a href="{% url 'list' camera_name=c %}">{{ c }}</a></li>
{% endfor %}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Camera</th>
          <th>Save Time</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
{% for c in camera_clips %}            
        <tr>
          <td>{{ c.camera_name }}</td>
          <td>{{ c.save_time | date:'Y-m-d H:i:s' }}</td>
          <td>{{ c.start_time | date:'Y-m-d H:i:s' }}</td>
          <td>{{ c.end_time | date:'Y-m-d H:i:s' }}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default">Watch</button>
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Info</a></li>
                <li class="divider"></li>
                <li><a href="#">Download</a></li>
              </ul>
            </div>
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
    <row>
      <nav class="pull-right">
        <ul class="pagination">
          <li>
{% if camera_clips.has_previous %}
            <a href="{% url 'list' camera_name=camera_name %}?p={{ camera_clips.previous_page_number }}" aria-label="Previous">
{% endif %}
              <span class="inactive" aria-hidden="true">&laquo;</span>
{% if camera_clips.has_previous %}
            </a>
{% endif %}
          </li> 
{% for page in paginator.page_range %}
          <li><a href="{% url 'list' camera_name=camera_name %}?p={{ page }}">{{ page }}</a></li>
{% endfor %}
{% if camera_clips.has_next %}
          <li>
            <a href="{% url 'list' camera_name=camera_name %}?p={{ camera_clips.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
{% endif %}
        </ul>
      </nav>
    </row>
  </div>
{% endblock %}