{% extends 'clips/base.html' %}

{% block title %}Clip list{% endblock %}


{% block sidebar %}
		<ul class="nav nav-pills nav-stacked">
{% for c in cameras %}		
			<li role="presentation"><a href="#">{{ c }}</a></li>
{% endfor %}
		</ul>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Camera</th>
            </tr>
        </thead>
        <tbody>
{% for c in clips %}            
            <tr>
                <td>{{ c.camera_name }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}
