{% extends 'clips/base.html' %}

{% load base_extra %}
{% load static %}

{% block title %}Clip list{% endblock %}

{% block bootstrap3_extra_head %}
<script src="{% static 'clips/jquery.flot.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="well col-xs-12 col-sm-offset-1 col-sm-2">
    
  </div>

  <div class="col-xs-12 col-sm-8">
    <row>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-16by9">
            <video width="1280" height="720" controls>
              <source src="{{ clip_url }}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </row>

    <row>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Clip info</h3>
        </div>
        <div class="panel-body">
          <ul>
{% for start,end in datetime_segments %}
          <li>{{ start|date:"dS M Y H:i:s" }} - {{ end|date:"d/m/Y H:i:s" }}</li>
{% endfor %}
          </ul>
          
          {{ motion_data.as_html }}
        </div>
      </div>
    </row>
  </div>
{% endblock %}